body {
	margin: 0;
}

#container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 4800px;
	min-width: 1280px;
	font-family: 黑体;
}

#head {
	height: 67px;
}

#head>ul {
	position: absolute;
	right: 58px;
	display: inline-block;
	margin-bottom: 0;
}

#head li {
	display: inline-block;
	width: 75px;
	color: #787b83; /*e74f4d*/
	margin-right: 23px;
	padding-bottom: 21px;
	text-align: center;
	font-size: 12pt;
}

#head li:nth-child(1) {
	width: 68px;
	border-bottom: 4px solid #e74f4d;
}

#head li:nth-child(1), #head li:nth-child(6) {
	color: #e74f4d;
}

#head li:nth-child(6)::before {
	content: url(../sources/icon_head_2.png);
	position: relative;
	right: 1px;
	top: 4px;
}


#icon_head {
	position: absolute;
	left: 58px;
	top: 10px;
}

#text_lt {
	font-family: 黑体;
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	left: 120px;
	top: 22px;

	opacity: 0.7;
}

#picture {
	width: 100%;
	min-height: 790px;
	background-image: url(../sources/pic-1.png);
	background-size: cover;
	color: white;
	font-family: 微软雅黑;

}

#picture>h1 {
	display: inline;
	position: relative;
	top: 230px;
	left: 118px;
	font-size: 50pt;
}

#picture>p {
	position: relative;
	top: 240px;
	left: 122px;
	width: 500px;
	font-size: 17pt;
	margin: 7px;
}

#start {
	width: 380px;
	height: 58px;
	padding-top: 10px;

	position: relative;
	top: 300px;
	left: 122px;
	background-color: #e74f4d;
	color: white;

	text-align: center;
	font-size: 25pt;
}

#intro {
	display: flex;
	width: 100%;
	justify-content: space-around;
	text-align: center;
}

.intro {
	margin-top: 30px;
	width: 335px;
	font-size: 11pt;
}

.intro>p {
	margin-top: 30px;
	opacity: 0.8;
	height: 55px;
}

.withline {
	border-right: 2px solid gray;
}

#head-2 {
	width: 100%;
	height: 360px;
	background-color: rgb(237, 237, 237);
	color: rgb(134, 126, 123);
	text-align: center;
	font-size: 40pt;
}

#head-2>p {
	position: relative;
	top: 145px;
}

#head-2>p::before {
	content: url(../sources/icon_head-2.png);
	position: relative;
	top: -85px;
	left: 400px;
}

#search {
	width: 100%;
	height: 340px;
	margin-top: -17px;
	background-image: url(../sources/middle.png);
	background-size: cover;

	color: white;
	text-align: center;
}

#search>p {
	position: relative;
	top: 50px;
	font-size: 9pt;
}

#search>p:first-child {
	font-size: 17pt;
	margin-bottom: 25px;
}

.line {
	width: 30px;
	height: 2px;
	margin: 5px auto 10px auto;
}

#Line {
	position: relative;
	top: 35px;
	left: 680px;
	margin-bottom: -3px;
	background-color: white;
}

#showbar {
	width: 100%;
	height: 605px;
	text-align: center;
	margin-top: 100px;

	background-color: rgb(247, 247, 247);
}

#showbar>ul {
	width: 1200px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	list-style: none;
}

#showbar p {
	margin-top: 8px;
}

.text{
	color: gray;
	font-size: 9pt;
	letter-spacing: 0px;
}

.shanghai {
	font-size: 18pt;
	display: block;
	width: 230px;
	letter-spacing: 26px;
	margin: 0 0 0 8px !important;
}

#more {
	display: flex;
	width: 100%;
	height: 565px;
}

#TIME {
	position: relative;
	min-width: 850px;
	width: 70%;
	background-size: cover;
	height: 565px;
	background-image: url(../sources/01.png);

	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.TIME-1 {
	font-size: 40pt;
	margin: 0;
}

.TIME-2 {
	font-size: 140pt;
	margin: -38px;
}

.TIME-3 {
	font-size: 17pt;
	margin: 30px;
}

.TIME-4 {
	font-size: 17pt;
	margin: -10px;
}

.tri {
	width: 0;
	height: 0;
	position: absolute;
}

#tri-left {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 25px solid white;
	right: 0;
	top: 270px;
}

#tri-right {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 25px solid white;
	right: -25px;
	top: 245px;
}

#new-1 {
	width: 30%;
	min-width: 300px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 190%;
}

.text-2 {
	text-align: center;
	font-size: 16pt;
	margin-top: -20px;
}

.text-2 span {
	color: #e74f4d;
	font-weight: bold;
	font-size: 18pt;
}

.text-3 {
	font-size: 9.5pt;
	color: #aaaaaa;
	margin: 0 0 0 20%;
}

.button {
	width: 105px;
	height: 35px;
	margin: 30px auto;
	border: 1px solid #e74f4d;;
}

.c_orange {
	color: #e74f4d;
	background-color: white;
}

.c_white {
	color: white;
	background-color: #e74f4d;
}

.white {
	color: white;
}

.c_gray {
	background-color: #aaaaaa;
}

#circles {
	width: 105px;
	height: 20px;
	margin: -15px auto;
	padding: 0;
	list-style: none;
}

#circles li {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	margin: 3px;
}

#circles li:first-child {
	background-color: #aaaaaa;
	margin-left: 25px;
}

#more-2 {
	display: flex;
	width: 100%;
	height: 520px;
}



#view-1, #view-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	min-width: 425px;
	height: 100%;
	text-align: center;
	font-size: 17pt;
}

#view-1>input, #view-2>input {
	width: 170px;
	height: 40px;
	margin: 28px auto;
	font-family: 黑体;
	font-size: 17pt;
	border: 1px solid;
}

#view-1>input {
	border-color: white;
}

#view-2>input {
	border-color: #e74f4d;
}

#view-1 {
	color: white;
	background-color: #e74f4d;
}

#view-2 {
	position: relative;
}

#more-2>img{
	width: 30%;
	min-width: 300px;
}

#head-3 {
	width: 100%;
	text-align: center;
	margin-top: 105px;
}

#head-3 p {
	margin: auto 0;
}

.font-1 {
	font-size: 16pt;
}

#content {
	width: 90%;
	height: 500px;
	margin: auto;
}

#content-left {
	width: 305px;
	float: left;
	margin-left: 100px;
}


#content-right {
	width: 710px;
	float: right;
}

#user-infor {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

#user-infor li {
	width: 290px;
	height: 18px;
	opacity: 0.8;
	font-size: 10pt;
	margin: 8px;
	background-color: #ededee;
	padding: 10px 0px 10px 16px;
}

#user-infor input {
	background-color: #ededee;
	border: 0;
}

.button-2 {
	width: 66px;
	height: 20px;
	float: right;
	background-image: url('../sources/button.png');
	background-color: white;
	background-position: left;
	background-repeat: no-repeat;
	border: 0px;
	font-size: 10pt;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.description {
	width: 612px !important;
	height: 120px !important;
}

#button-3 {
	width: 612px !important;
	text-align: center;
	font-family: serif;
}

.text-4 {
	font-size: 11pt;
	font-weight: bold;
}

#foot {
	width: 100%;
	height: 350px;
	padding-top: 70px;
	background-color: #32353e;
	text-align: center;
}

.font-2 {
	font-family: 宋体;
	font-size: 9pt;
}

.font-3 {
	font-size: 17pt;
}

#submit {
	margin-bottom: 20px;
}

.input {
	width: 430px;
	height: 30px;
}

.button-4 {
	height: 36px;
	width: 80px;
	background-color: #686166;
	color: white;
	margin-left: -9px;
	border: 0;
	letter-spacing: 7px;
}

#bottom {
	position: relative;
	height: 60px;
	background-color: #2f3038;
	margin-top: 75px;
}

#bottom span {
	position: absolute;
	left: 100px;
	top: 30px;
	font-size: 9pt;
}